<div class="jumbotron j-dark-version pb-0 mb-0">
  <div class="container">
    <div class="row">
    <!-- extra small:col- small:col-sm medium:col-md large:col-lg extra large:col-xl -->
      <div class="col-12 col-md-3 col-lg-3 col-xl-3">
        <div class="row">
          <div class="col-12">
            <h3>CONNECT</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 m-1 m-md-1 m-lg-1 m-xl-1">
            <i class="fa fa-facebook fa-2x"></i>
          </div>
          <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 m-1 m-md-1 m-lg-1 m-xl-1">
            <i class="fa fa-twitter fa-2x"></i>
          </div>
          <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 m-1 m-md-1 m-lg-1 m-xl-1">
            <i class="fa fa-feed fa-2x"></i>
          </div>
          <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 m-1 m-md-1 m-lg-1 m-xl-1">
            <i class="fa fa-linkedin fa-2x"></i>
          </div>
          <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 m-1 m-md-1 m-lg-1 m-xl-1">
            <i class="fa fa-youtube fa-2x"></i>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3 col-lg-3 col-xl-3">
        <div class="row">
          <div class="col-12">
            <h3>LATEST NEWS</h3>
          </div>
        </div>
        <div class="row">
    <!-- extra small:col- small:col-sm medium:col-md large:col-lg extra large:col-xl -->
          <div class="col-2">
            <i class="fa fa-newspaper-o fa-4x" aria-hidden="true"></i>
          </div>
          <div class="col-10">
            <div class="row">
              <div class="col-2"></div>
              <div class="col"><i class="text-warning">July 14, 2011</i><a class="nav-link" href="#"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p></a></div>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- extra small:col- small:col-sm medium:col-md large:col-lg extra large:col-xl -->
          <div class="col-2">
            <i class="fa fa-newspaper-o fa-4x" aria-hidden="true"></i>
          </div>
          <div class="col-10">
            <div class="row">
              <div class="col-2"></div>
              <div class="col"><i class="text-warning">July 14, 2011</i><a class="nav-link" href="#"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p></a></div>
            </div>
          </div>
        </div>
        <div class="row">
    <!-- extra small:col- small:col-sm medium:col-md large:col-lg extra large:col-xl -->
          <div class="col-2">
            <i class="fa fa-newspaper-o fa-4x" aria-hidden="true"></i>
          </div>
          <div class="col-10">
            <div class="row">
              <div class="col-2"></div>
              <div class="col"><i class="text-warning">July 14, 2011</i><a class="nav-link" href="#"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3 col-lg-3 col-xl-3">
        <h3>LATEST TWEETS</h3>
        <div class="row">
          <div class="col-2">
            <i class="fa fa-twitter fa-2x"></i>
          </div>
          <div class="col">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3 col-lg-3 col-xl-3">
        <h3>FLICKR</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius maxime consectetur recusandae tenetur ex iure nesciunt adipisci odit unde enim quo, error eaque. Adipisci quibusdam sed quis. Magni, nostrum impedit!</p>
      </div>
    </div>
  </div>
</div>
