<div class="page-header">
  <h3>MY SKILLS</h3>
  <hr>
</div>
<p>WEB DESIGN-90%</p>
<div class="progress">
  <div class="progress-bar bg-dark" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<br>
<p>JAVASCRIPT-65%</p>
<div class="progress">
  <div class="progress-bar bg-warning" role="progressbar" style="width: 65%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<br>
<p>HTML5 & CSS3-95%</p>
<div class="progress">
  <div class="progress-bar bg-success" role="progressbar" style="width: 95%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<br>
<p>PHP & MySQL-40%</p>
<div class="progress">
  <div class="progress-bar bg-danger" role="progressbar" style="width: 40%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<br>
