<div class="jumbotron">
  <div class="row">
    <div class="col-12">
      <table class="table table-hover">
        <thead>
          <th>Description</th>
          <th>Quantites</th>
          <th>Unites</th>
          <th>Prix unitaire HT</th>
          <th>TVA %</th>
          <th>TVA</th>
          <th>TOTAL TTC</th>
        </thead>
        <tbody>
          <tr>
            <td>Main-d'oeuvre</td>
            <td>25</td>
            <td>h.</td>
            <td>60.00</td>
            <td>20%</td>
            <td>300.00</td>
            <td>1,800.00</td>
          </tr>
          <tr>
            <td>Produit</td>
            <td>10</td>
            <td>pce.</td>
            <td>103.99</td>
            <td>20%</td>
            <td>207.98</td>
            <td>1,247.88</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>

          </tr>
        </tfoot>
      </table>
    </div>
    <div class="col-6">
      <div class=" container mt-3 ml-4">
        <label for="seller">Seller:</label><br>
        <input type="text" value="Mon entreprise">
      </div>
      <div class=" container mt-3 ml-4">
        <label for="address">Address:</label><br>
        <input type="text" value="III E 22 Ankazomanga SUD">
      </div>
      <div class=" container mt-3 ml-4">
        <label for="city">City:</label><br>
        <input type="text" value="Antananarivo">
      </div>
      <div class=" container mt-3 ml-4">
        <label for="country">Country:</label><br>
        <input type="text" value="MADAGASCAR">
      </div>
      <!-- <div class=" container mt-3 ml-4" *ngIf="isShown">
        <input class="btn btn-warning mt-2" type="submit" value="Valid">
      </div> -->
    </div>
    <div class="col-6">
      <div class=" container mt-3 ml-4">
        <label for="seller">Client Name:</label><br>
        <input type="text" value="TOSHIBA">
      </div>
      <div class=" container mt-3 ml-4">
        <label for="address">Address:</label><br>
        <input type="text" value="HT61 SHANGAI">
      </div>
      <div class=" container mt-3 ml-4">
        <label for="city">City:</label><br>
        <input type="text" value="BANGKOK">
      </div>
      <div class=" container mt-3 ml-4">
        <label for="country">Country:</label><br>
        <input type="text" value="CHINE">
      </div>
      <!-- <div class=" container mt-3 ml-4" *ngIf="isShown">
        <input class="btn btn-warning pl-4 pr-4 pt-1 pb-1 mt-2" type="submit" value="Valid">
      </div> -->
    </div>
    <div class="col-12">
      <div class="container">
        <input type="button" value="Print as PDF">
      </div>
    </div>
  </div>
</div>
<!-- url: "E:\23-07.2019\RepositoryWeb\Angular\src\data\mydata.json" -->
<app-footer></app-footer>
