<div class="row mt-3">
  <div class="col-sm-4 col-md-4">
  </div>
  <div class="col-sm-4 col-md-4">
    <div class="container">
      <label for="email">Email:</label><br>
      <input type="text">
    </div>
    <div class="container">
      <label for="username">Username:</label><br>
      <input type="text">
    </div>
    <div class="container">
      <label for="pw">Password:</label><br>
      <input type="text">
    </div>
    <div class="container">
      <label for="cpw">Confirm password:</label><br>
      <input type="text">
    </div>
    <div class="container">
      <input class="btn btn-warning mt-2" type="submit" value="Sign Up">
    </div>
  </div>
  <div class="col-sm-4 col-md-4">
  </div>
</div>
<app-footer></app-footer>
